.App {
  margin-left: 10%;
  padding: 0;
  overflow: hidden; 
  position: absolute;
   top: 0; 
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.one {
  margin-top: 25px;
  margin-left: auto;
  border: 1px solid black;
  box-sizing: border-box;
  width: 300px;
  min-height: 200px;
  float: left;
  padding: 10px;
  
}
.two {
  margin-top: auto;
  margin-left: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  width: 300px;
  min-height: 200px;
  float: left;
  padding: 10px;
  
}
.modal {
  background-color: rgba(189, 113, 113, 0.5);
  /* position: fixed; */
  border-radius: 10px;
  height: 350px;
  width: 350px;
  /* top: 0; */
  /* left: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}




